*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
slimeworldmanager-test/
.DS_Store/
target/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next